/*-------------------------------------*/
/*-- General styles --*/
/*-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1500px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
}

/*-------------------------------------*/
/*-- Header --*/
/*-------------------------------------*/
.header {
  padding: 22px 12px 8px;
  text-align: center;
}

.header__logo {
  width: 166px;
}

/*-------------------------------------*/
/*-- Footer --*/
/*-------------------------------------*/
.footer {
  padding: 10px 25px 30px;
  background-color: #353535;
}
@media (min-width: 414px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__header {
  width: 100%;
}

.footer__header h2 {
  margin: 0;
  padding: 15px 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 19px;
  font-weight: 200;
  color: #fff;
}

.footer__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer__link .fa-hands-helping {
  width: 10px;
  font-size: 11px;
}

.footer__link a {
  padding: 4px 0;
  text-decoration: none;
  color: #fff;
}

.footer__link span {
  padding-right: 12px;
  font-size: 13px;
}

/*-------------------------------------*/
/*-- #Navigation --*/
/*-------------------------------------*/
.navigation {
  position: relative;
}
.navigation .fa-arrow-left {
  position: absolute;
  bottom: 11px;
  left: 11px;
  font-size: 20px;
  color: #353535;
  cursor: pointer;
}

/*-------------------------------------*/
/*-- #Main --*/
/*-------------------------------------*/
/*-- Menu image --*/
.menu-image {
  position: relative;
}
.menu-image img {
  object-fit: cover;
  height: 266px;
  width: 100%;
}

.menu-image--positioning {
  object-position: 90% 61%;
}

/*-- Menu container --*/
.menu-container {
  position: relative;
  margin-top: -50px;
  padding: 20px 14px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px 6px;
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
}
.menu__title h2 {
  margin: 0;
}
@media (min-width: 915px) {
  .menu__title h2 {
    margin: 0 auto;
  }
}
.menu__title .fa-heart {
  margin: 15px;
  padding: 5px;
  font-size: 22px;
  -webkit-text-fill-color: #f6f6f6;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
}
.menu__title .fa-heart:hover, .menu__title .fa-heart:active {
  transition: all 400ms cubic-bezier(0.56, 0.26, 0.56, 1.05);
  transform: scale(1.1);
  background-image: linear-gradient(3.46grad, #ff79da 0%, #9356dc 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: inherit;
  cursor: pointer;
}

/*-- Dish category --*/
.dish-category {
  padding: 14px 0;
}
@media (min-width: 798px) {
  .dish-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
.dish-category h3 {
  margin: 0 6px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 798px) {
  .dish-category h3 {
    width: 100%;
    margin: revert;
  }
}
.dish-category h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  margin-top: 5px;
  background-color: #99e2d0;
}

/*-- Dish card animations --*/
@keyframes cards {
  0% {
    opacity: 0;
    transform: translateY(17%);
    animation-delay: 100ms;
  }
  25% {
    opacity: 0.5;
    animation-delay: 200ms;
  }
  50% {
    opacity: 1;
    animation-delay: 400ms;
  }
  100% {
    opacity: 1;
    animation-delay: 700ms;
  }
}
.dish-card {
  animation: cards 700ms both;
}
.dish-card--1 {
  animation-delay: 116.6666666667ms;
}
.dish-card--2 {
  animation-delay: 233.3333333333ms;
}
.dish-card--3 {
  animation-delay: 350ms;
}
.dish-card--4 {
  animation-delay: 466.6666666667ms;
}
.dish-card--5 {
  animation-delay: 583.3333333333ms;
}
.dish-card--6 {
  animation-delay: 700ms;
}

/*-- Dish card --*/
.dish__title {
  width: 100%;
  padding: 9px 12px;
  overflow: hidden;
  white-space: nowrap;
}
.dish__title h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.dish__title h5 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}

.dish__price {
  display: flex;
  align-items: flex-end;
  margin: 10px 24px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #353535;
}

.dish-card {
  display: flex;
  height: 68px;
  margin: 15px auto;
  overflow: hidden;
  line-height: 1.5;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 8px 8px #e7e7e7;
  cursor: pointer;
}
@media (min-width: 798px) {
  .dish-card {
    width: 48%;
    margin: 7px;
  }
}
@media (min-width: 1200px) {
  .dish-card {
    width: 32%;
  }
}
.dish-card:hover .dish__btn, .dish-card:active .dish__btn {
  margin-right: -1.6px;
  margin-left: -10px;
}
.dish-card:hover .dish__btn .fa-check-circle, .dish-card:active .dish__btn .fa-check-circle {
  height: auto;
  margin: auto 0;
  opacity: 1;
  transform: rotate(1turn);
  transition: transform 500ms ease-in-out;
}

.dish__btn {
  display: flex;
  align-items: center;
  width: 64px;
  margin-right: -61px;
  transition-duration: 450ms;
}

.select {
  display: flex;
  height: 100%;
  padding: 0 20px;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  color: #fff;
  background-color: #99e2d0;
}
.select .fa-check-circle {
  margin: auto 0;
}

/*-- Order btn --*/
.order {
  padding: 16px 0 58px;
}

.order__btn a {
  width: 185px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 4px 8px #c6c6c6;
  display: flex;
  height: 50px;
  margin: 5px auto;
  transition: all 250ms ease;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
}
.order__btn a:hover, .order__btn a:active {
  box-shadow: 0 7px 12px #b3b3b3;
  opacity: 0.75;
}

.order__btn p {
  margin: auto;
  font-size: 16px;
  font-weight: 500;
}

/*# sourceMappingURL=styles-menu.css.map */
