// Colors
$gray-background: #f6f6f6;
$shadow-gray: #e5e5e5;
$green: #99e2d0;
$purple: #9356dc;
$pink: #ff79da;
$pink-purple: linear-gradient(
   175deg,
   rgb(255, 121, 218) 0%,
   rgb(147, 86, 220) 100%
);

// Element appearances
$background-shadow: 0 4px 8px #c6c6c6;

// Media queries
$very-small-media: 414px;
$small-media: 798px;
$medium-media: 915px;
$large-media: 1200px;
$extra-large-media: 1500px;
