@use "../abstracts" as *;

/*-------------------------------------*/
/*-- Header --*/
/*-------------------------------------*/
.header {
   padding: 22px 12px 8px;
   text-align: center;
}

.header__logo {
   width: 166px;

   @media (min-width: $small-media) {
      width: 200px;
   }

   @media (min-width: $large-media) {
      width: 240px;
   }
}
