// "base" folder
@use "base/global";

// "layout" folder
@use "layout/header";
@use "layout/footer";

// "website pages" folder
@use "pages/home";

// ------------------------------------------------------------------------ //
// Information and code organization :

// - On the site, we used "Dart Sass" (version : 1.35.2) with @use and @forward. The @forward files are gathered in the "index.scss" file, located in the "abstracts" folder.

// - Only these elements have been nested in order to keep the code easy to read: icon / pseudo-class / pseudo-element / titles / media queries.

// - Comments with arrows that are written to "scss" files should not be removed.

// - The "map" file has been kept in order to simplify the maintenance of the code. It can be removed if you feel that its presence is not useful to you.
// ------------------------------------------------------------------------ //
// Last code update : July 2021.
// ----------------------------- //

//
//
// srcset="large.jpg 3200w, desktop.jpg 1600w, mobile.jpg 800w" sizes="33,33vw" src="src/images/restaurants/mobile_size/img.jpg" alt=""/>
