/***************************************/
/******** General styles ********/
/***************************************/
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/***************************************/
/******** Header ********/
/***************************************/

/**** Header ****/
header {
   padding: 22px 12px 8px;
   text-align: center;

   .logo img {
      width: 166px;
   }
}

/**** Navigation ****/
.menu-page__navigation {
   position: relative;

   a {
      position: absolute;
      bottom: 17px;
      left: 22px;
      font-size: 20px;
      color: #353535;
   }
}

/***************************************/
/******** Article ********/
/***************************************/

/**** Menu page ****/
.menu-page {
   position: relative;
   margin-top: -50px;
   padding: 20px 14px;
   background-color: #f6f6f6;
   border-radius: 40px 40px 0 0;
}

.menu-page__img {
   position: relative;

   img {
      object-fit: cover;
      height: 266px;
      width: 100%;
   }
}

.menu-page__title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 6px 6px;
   font-size: 18px;
   font-family: "Shrikhand", sans-serif;

   h2 {
      margin: 0;
   }

   .fa-heart {
      padding: 20px;
      font-size: 22px;
      -webkit-text-fill-color: #f6f6f6;
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: black;
   }
}

/**** Dish category ****/
.dish-category {
   padding: 14px 0;

   h3 {
      margin: 0 6px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;

      &:after {
         content: "";
         display: block;
         width: 40px;
         height: 3px;
         margin-top: 5px;
         background-color: #99e2d0;
      }
   }
}

/**** Dish card ****/
.dish-card {
   display: flex;
   margin: 15px auto;
   line-height: 1.5;
   border-radius: 20px;
   box-shadow: 0 8px 8px #e7e7e7;
   background-color: #fff;
}

.dish-card__title {
   width: 100%;
   padding: 9px 12px;

   h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
   }

   h5 {
      margin: 0;
      font-size: 15px;
      font-weight: 300;
   }
}

.dish-card__btn {
   display: flex;
   align-items: center;

   .select {
      display: flex;
      border-radius: 0 20px 20px 0;
      font-size: 20px;
      background-color: #99e2d0;
      color: #fff;
      height: 100%;
      padding: 0 20px;

      .fa-check-circle {
         margin: auto 0;
      }
   }
}

.price {
   display: flex;
   align-items: flex-end;
   padding: 10px 22px 10px 20px;
   font-weight: 600;
   font-size: 15px;
   color: #353535;
}

/**** Order btn ****/
.order {
   padding-bottom: 43px;

   .order__btn {
      display: flex;
      height: 50px;
      width: 185px;
      margin: 20px auto;
      color: #fff;
      border-radius: 50px;
      box-shadow: 0 4px 8px #c6c6c6;
      background: linear-gradient(
         175deg,
         rgb(255, 121, 218) 0%,
         rgb(147, 86, 220) 100%
      );

      h3 {
         margin: auto;
         font-weight: 500;
         font-size: 16px;
      }
   }
}

/***************************************/
/******** Footer ********/
/***************************************/

.footer {
   padding: 10px 25px 30px;
   background-color: #353535;

   &__link {
      display: flex;
      flex-direction: column;

      a {
         padding: 4px 0;
         text-decoration: none;
         color: #fff;
      }
   }

   h2 {
      margin: 0;
      padding: 15px 0;
      font-family: "Shrikhand", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
   }

   span {
      padding-right: 12px;
      font-size: 13px;
   }
   .fa-hands-helping {
      font-size: 11px;
   }
}
