/***************************************/
/******** General styles ********/
/***************************************/
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/***************************************/
/******** Header ********/
/***************************************/

/**** Header ****/
header {
   padding: 12px 0;
   text-align: center;
}

.header__title {
   padding: 27px 8px 37px;
   background-color: #f6f6f6;

   h1 {
      margin: 0;
      padding: 10px 30px 3px;
      font-size: 25px;
   }

   h2 {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      font-weight: 300;
   }
}

.header__btn {
   display: flex;
   height: 50px;
   width: 216px;
   margin: 20px auto;
   color: #fff;
   border-radius: 50px;
   box-shadow: 0 4px 8px #c6c6c6;
   background: linear-gradient(
      175deg,
      rgb(255, 121, 218) 0%,
      rgb(147, 86, 220) 100%
   );

   p {
      margin: auto;
   }
}

/**** Logo ****/
.logo {
   &:after {
      content: "";
      display: block;
      height: 5px;
      background: linear-gradient(
         to bottom,
         rgba(32, 32, 32, 0.24) 0%,
         rgba(234, 234, 234, 0.9) 100%
      );
   }
}

.logo img {
   width: 166px;
   padding: 10px;
}

/**** Location ****/
.location {
   padding: 10px 0 14px;
   font-weight: 500;
   color: #353535;
   background-color: #eaeaea;

   &__searchtext {
      padding: 0 13px;
   }
}

/***************************************/
/******** Navigation ********/
/***************************************/

/**** Operation ****/
.operation {
   padding: 14px 20px 40px;
}

/**** Operation steps btn ****/
.operation-steps__btn {
   margin: 26px 0 26px 10px;
   padding: 13px 0 10px;
   border-radius: 23px;
   background-color: #f6f6f6;
   box-shadow: 0 6px 8px #e5e5e5, inset 0 1px 3px #fff;

   &:last-child {
      background-color: #f5edff;
      box-shadow: 0 6px 8px #e5e5e5, inset 0 1px 3px #fff;
   }

   span {
      margin: 0 27px 0 21px;
      color: #7e7e7e;
   }

   h3 {
      color: #000;
      font-size: 16px;
      font-weight: 500;
   }

   .fa-mobile-alt {
      font-size: 21px;
   }

   .fa-list-ul {
      font-size: 18px;
      margin-right: 23px;
   }

   .fa-store {
      margin-right: 20px;
      color: #9356dc;
   }
}

.operation-steps__btn a {
   display: flex;
   align-items: center;
   text-decoration: none;

   &:before {
      content: attr(data-count);
      margin-left: -11px;
      padding: 4px 8.5px;
      font-size: 14px;
      color: #fff;
      background-color: #9356dc;
      border-radius: 100%;
   }
}
