// color
$green: #99e2d0;

$pink-purple: linear-gradient(
   175deg,
   rgb(255, 121, 218) 0%,
   rgb(147, 86, 220) 100%
);

// Heart icon
@mixin heartIcon {
   cursor: pointer;
   background-image: linear-gradient(3.46grad, #ff79da 0%, #9356dc 100%);
   background-size: 100%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: inherit;
   transition: all 400ms cubic-bezier(0.56, 0.26, 0.56, 1.05);
   transform: scale(1.1);
}

// Ombrage btn rose
@mixin lightnessBtnPink {
   box-shadow: 0 7px 12px #b3b3b3;
   opacity: 0.75;
}

// Organisation du code
// Tous les sélecteurs ont été séparés. Seulement les sélecteurs suivants ont été imbriqués dans leur conteneur parent : les "h", les pseudo-éléments, les pseudo-classes, les icônes, image menu.

/*-------------------------------------*/
/*-- #General styles --*/
/*-------------------------------------*/

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

/*-------------------------------------*/
/*-- #Header --*/
/*-------------------------------------*/

.header {
   padding: 22px 12px 8px;
   text-align: center;
}

.header__logo {
   width: 166px;
}

/*-------------------------------------*/
/*-- #Navigation --*/
/*-------------------------------------*/

.navigation {
   position: relative;

   .fa-arrow-left {
      position: absolute;
      bottom: 11px;
      left: 11px;
      font-size: 20px;
      color: #353535;
   }
}

/*-------------------------------------*/
/*-- #Main --*/
/*-------------------------------------*/

/*-- Menu image --*/
.menu-image {
   position: relative;

   img {
      object-fit: cover;
      height: 266px;
      width: 100%;
   }
}

/*-- Menu --*/
.menu-container {
   position: relative;
   margin-top: -50px;
   padding: 20px 14px;
   background-color: #f6f6f6;
   border-radius: 40px 40px 0 0;
}

.menu__title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 6px 6px;
   font-size: 18px;
   font-family: "Shrikhand", sans-serif;

   h2 {
      margin: 0;
   }

   .fa-heart {
      margin: 15px;
      padding: 5px;
      font-size: 22px;
      -webkit-text-fill-color: #f6f6f6;
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: black;

      &:hover {
         @include heartIcon;
      }
   }
}

/*-- Dish category --*/
.dish-category {
   padding: 14px 0;

   h3 {
      margin: 0 6px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;

      &:after {
         content: "";
         display: block;
         width: 40px;
         height: 3px;
         margin-top: 5px;
         background-color: $green;
      }
   }
}

/*-------------------------------------*/
/*-- #beginning : Menu page animation --*/
/*-------------------------------------*/

$anim-duration: 700ms;
$anim-delay: $anim-duration / 6;

@keyframes cards {
   0% {
      transform: translateY(17%);
      animation-delay: 100ms;
      opacity: 0;
   }

   25% {
      animation-delay: 200ms;
      opacity: 0.5;
   }

   50% {
      animation-delay: 400ms;
      opacity: 1;
   }

   100% {
      animation-delay: 700ms;
      opacity: 1;
   }
}

.dish-card {
   animation: cards $anim-duration both;
   @for $i from 1 through 6 {
      &--#{$i} {
         animation-delay: $anim-delay * $i;
      }
   }
}
/*-------------------------------------*/
/*-- #Ending : Menu page animation --*/
/*-------------------------------------*/

/*-- Dish card --*/
.dish__title {
   width: 100%;
   padding: 9px 12px;
   overflow: hidden;
   white-space: nowrap;

   h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
   }

   h5 {
      margin: 0;
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
   }
}

.dish__price {
   display: flex;
   align-items: flex-end;
   font-weight: 600;
   font-size: 15px;
   color: #353535;
   margin: 10px 24px 10px 20px;
}

.dish-card {
   display: flex;
   margin: 15px auto;
   line-height: 1.5;
   border-radius: 15px;
   box-shadow: 0 8px 8px #e7e7e7;
   background-color: #fff;
   overflow: hidden;
   cursor: pointer;
   height: 68px; // <= This height prevents the icon from jumping

   &:hover {
      .dish__btn {
         margin-right: -1.6px;
         margin-left: -10px;

         .fa-check-circle {
            opacity: 1;
            height: auto;
            margin: auto 0;
            transform: rotate(1turn);
            transition: transform 500ms ease-in-out;
         }
      }
   }
}

.dish__btn {
   display: flex;
   align-items: center;
   transition-duration: 450ms;
   margin-right: -61px;
   width: 64px;
}

.select {
   display: flex;
   border-radius: 0 15px 15px 0;
   font-size: 20px;
   background-color: #99e2d0;
   color: #fff;
   height: 100%;
   padding: 0 20px;

   .fa-check-circle {
      margin: auto 0;
   }
}

/*-- Order --*/
.order {
   padding-bottom: 43px;
}

.order__btn {
   cursor: pointer;
   display: flex;
   height: 50px;
   width: 185px;
   margin: 20px auto;
   color: #fff;
   border-radius: 50px;
   box-shadow: 0 4px 8px #c6c6c6;
   background: $pink-purple;

   &:hover {
      @include lightnessBtnPink;
   }

   h3 {
      margin: auto;
      font-weight: 500;
      font-size: 16px;
   }
}

/*-------------------------------------*/
/*-- #Footer --*/
/*-------------------------------------*/

.footer {
   padding: 10px 25px 30px;
   background-color: #353535;

   h2 {
      margin: 0;
      padding: 15px 0;
      font-family: "Shrikhand", sans-serif;
      font-size: 19px;
      font-weight: 200;
      color: #fff;
   }
}

.footer__link {
   display: flex;
   flex-direction: column;

   .fa-hands-helping {
      width: 10px;
      font-size: 11px;
   }
}

.footer__link a {
   padding: 4px 0;
   text-decoration: none;
   color: #fff;
}

.footer__link span {
   padding-right: 12px;
   font-size: 13px;
}
