@use "variables" as *;

/*-------------------------------------*/
/*-- GLOBAL : Pink-purple button --*/
/*-------------------------------------*/

// Pink-purple button shape
@mixin formBtnPink {
   display: flex;
   height: 50px;
   width: 216px;
   margin: 5px auto;
   color: #fff;
   border-radius: 50px;
}

// Pink-purple button shade
@mixin lightnessBtnPink {
   box-shadow: 0 7px 12px #b3b3b3;
   opacity: 0.75;
}

/*-------------------------------------*/
/*-- GLOBAL : Heart icon --*/
/*-------------------------------------*/

// Appearance and color of the "heart" icon
@mixin heartIcon {
   cursor: pointer;
   background-image: linear-gradient(3.46grad, #ff79da 0%, #9356dc 100%);
   background-size: 100%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: inherit;
   transition: all 400ms cubic-bezier(0.56, 0.26, 0.56, 1.05);
   transform: scale(1.1);
}

/*-------------------------------------*/
/*-- HOME PAGE : Loader spinner --*/
/*-------------------------------------*/

// Loader shape and color
@mixin loaderCircle {
   border-top: 5px solid $purple;
   border-right: 5px solid transparent;
   border-bottom: 5px solid $purple;
   border-left: 5px solid transparent;
   border-radius: 50%;
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}
