@use "../abstracts" as *;

/*--------------------*/
/*-- Loader spinner --*/
/*--------------------*/

// Loader spinner background
@keyframes wrapper {
   0% {
      opacity: 1;
      z-index: 1000;
   }

   99% {
      opacity: 1;
      z-index: 1000;
   }

   100% {
      opacity: 0;
      z-index: 1000;
   }
}

.loader-wrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   background: #f6f6f6;
   opacity: 0;
   z-index: -1000;
   animation: wrapper 1500ms;
}

// Rotation
@keyframes spin {
   0% {
      transform: rotate(0deg);
      z-index: 1001;
   }

   99% {
      transform: rotate(540deg);
      z-index: 1001;
   }

   100% {
      z-index: 1001;
   }
}

// Reverse rotation
@keyframes spinReverse {
   0% {
      transform: rotate(0deg);
      z-index: 1002;
   }

   99% {
      transform: rotate(-540deg);
      z-index: 1002;
   }

   100% {
      z-index: 1002;
   }
}

// Outer circle
.loader__outer-circle {
   @include loaderCircle;
   height: 100px;
   width: 100px;
   animation: spin 1500ms linear both;
   z-index: -1001;
}

// Inner circle
.loader__inner-circle {
   @include loaderCircle;
   opacity: 0.6;
   height: 60px;
   width: 60px;
   animation: spinReverse 1500ms linear both;
   z-index: -1002;
}

/*-------------------------------------*/
/*-- Main --*/
/*-------------------------------------*/

/*-- Location block --*/
.location-wrapper {
   &:before {
      content: "";
      display: block;
      height: 5px;
      background: linear-gradient(
         to bottom,
         rgba(32, 32, 32, 0.24) 0%,
         rgba(234, 234, 234, 0.9) 100%
      );
   }
}

.location {
   margin-left: -30px;
   padding: 12px 0 14px;
   text-align: center;
   font-weight: 500;
   color: #353535;
   background-color: #eaeaea;
}

.location__search-text {
   padding-left: 14px;
   font-size: 15.5px;
}

/*-- Homepage titles --*/
.homepage-title {
   padding: 27px 8px 10px;
   text-align: center;
   background-color: #f6f6f6;

   h1 {
      margin: 0;
      padding: 10px 30px 3px;
      font-size: 25px;
      line-height: 1.1;
   }

   h2 {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      font-weight: 300;
   }
}

/*-- Explore btn --*/
.explore-wrapper {
   background-color: #f6f6f6;
   padding: 5px 0 52px;
}

.explore__btn {
   background: $pink-purple;
   box-shadow: $background-shadow;
   @include formBtnPink;
   transition: all 250ms ease;

   &:hover {
      @include lightnessBtnPink;
   }
}

.explore__btn p {
   margin: auto;
}

/*-- Operation block --*/
.operation {
   padding: 25px 20px 40px;
}

.operation-step {
   margin: 26px 0 26px 10px;
   padding: 12px 0 9px;
   border-radius: 23px;
   background-color: #f6f6f6;
   box-shadow: 1px 6px 10px #e5e5e5;
   transition: all 250ms ease;

   &:hover {
      background-color: #f5edff;
      box-shadow: 1px 6px 10px #e5e5e5;

      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
         color: $purple;
      }
   }
}

.operation-step .step-number {
   display: flex;
   align-items: center;
   text-decoration: none;

   &:before {
      content: attr(data-count);
      margin-left: -11px;
      padding: 4.5px 8.5px 3.5px;
      font-size: 14px;
      color: #fff;
      background-color: $purple;
      border-radius: 100%;
   }
}

.operation-step span {
   margin: 0 27px 0 21px;
   color: #7e7e7e;
}

.operation-step h3 {
   color: #000;
   font-size: 16px;
   font-weight: 500;
}

/*-- Operation step icons --*/
.fa-mobile-alt {
   font-size: 21px;
}

.fa-list-ul {
   font-size: 18px;
   margin-right: 23px;
}

.fa-store {
   margin-right: 20px;
}

/*-------------------------------------*/
/*-- Article --*/
/*-------------------------------------*/

/*-- Restaurant block --*/
.restaurants-list {
   padding: 32px 20px 47px;
   background-color: #f6f6f6;
}

/*-- Restaurant card --*/
.restaurant-card {
   margin: 18px 0;
   border-radius: 17px;
   background-color: #fff;
   box-shadow: 0 6px 8px #e5e5e5;
}

.restaurant-card .image-positioning {
   object-position: 90% 61%;
}

.restaurant-card a {
   position: relative;
   text-decoration: none;
   color: #000;
}

.restaurant-card img {
   width: 100%;
   height: 172px;
   object-fit: cover;
   object-position: bottom;
   border-radius: 17px 17px 0 0;
}

.restaurant-card__label {
   position: absolute;
   bottom: 134px;
   right: 13px;
   padding: 6px 12px 5px;
   font-size: 14px;
   font-weight: 500;
   background-color: #99e2d0;
   color: darken($green, 40%);
}

.restaurant-card-items {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .fa-heart {
      margin-top: -8px;
      padding: 20px 25px;
      font-size: 22px;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: black;

      &:hover {
         @include heartIcon;
      }
   }
}

.restaurant-card__title {
   margin: 12px 13px;
   line-height: 1.4;

   h3 {
      margin: 0;
      font-weight: 600;
   }

   h4 {
      margin: 0;
      font-size: 17px;
      font-weight: 300;
   }
}
