@use "../abstracts" as *;

/*-------------------------------------*/
/*-- #Navigation --*/
/*-------------------------------------*/

.navigation {
   position: relative;

   .fa-arrow-left {
      position: absolute;
      bottom: 11px;
      left: 11px;
      font-size: 20px;
      color: #353535;
      cursor: pointer;
   }
}

/*-------------------------------------*/
/*-- #Main --*/
/*-------------------------------------*/

/*-- Menu image --*/
.menu-image {
   position: relative;

   img {
      object-fit: cover;
      height: 266px;
      width: 100%;
   }
}

.menu-image--positioning {
   object-position: 90% 61%; // <= This rule is used to manage the initial positioning of the targeted element.
}

/*-- Menu container --*/
.menu-container {
   position: relative;
   margin-top: -50px;
   padding: 20px 14px;
   background-color: #f6f6f6;
   border-radius: 40px 40px 0 0;
}

.menu__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 6px 6px;
   font-size: 18px;
   font-family: "Shrikhand", sans-serif;

   h2 {
      margin: 0;

      @media (min-width: $medium-media) {
         margin: 0 auto;
      }
   }

   .fa-heart {
      margin: 15px;
      padding: 5px;
      font-size: 22px;
      -webkit-text-fill-color: #f6f6f6;
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: black;

      &:hover,
      &:active {
         @include heartIcon;
      }
   }
}

/*-- Dish category --*/
.dish-category {
   padding: 14px 0;

   @media (min-width: $small-media) {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
   }

   @media (min-width: $extra-large-media) {
      max-width: 90%;
      margin: 0 auto;
   }

   h3 {
      margin: 0 6px;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;

      @media (min-width: $small-media) {
         width: 100%;
         margin-bottom: 8px;
      }

      &:after {
         content: "";
         display: block;
         height: 3px;
         width: 40px;
         margin-top: 5px;
         background-color: $green;
      }
   }
}

/*-- Dish card animations --*/
$anim-duration: 900ms;
$anim-delay: $anim-duration / 5;

@keyframes cards {
   0%,
   25% {
      opacity: 0;
      transform: translateY(17%);
      animation-delay: 100ms;
   }

   50% {
      opacity: 0.5;
      animation-delay: 200ms;
   }

   75% {
      opacity: 1;
      animation-delay: 400ms;
   }

   100% {
      opacity: 1;
      animation-delay: 900ms;
   }
}

.dish-card {
   animation: cards $anim-duration both;

   @for $i from 1 through 5 {
      &--#{$i} {
         animation-delay: $anim-delay * $i;
      }
   }
}

/*-- Dish card --*/
.dish__title {
   width: 100%;
   padding: 9px 12px;
   overflow: hidden;
   white-space: nowrap;

   h4 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 500;
   }

   h5 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: 300;
   }
}

.dish__price {
   display: flex;
   align-items: flex-end;
   margin: 10px 24px 10px 20px;
   font-size: 15px;
   font-weight: 600;
}

.dish-card {
   display: flex;
   height: 68px; // <= This height prevents the icon from jumping.
   margin: 15px auto;
   overflow: hidden;
   line-height: 1.5;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 8px #e7e7e7;
   cursor: pointer;

   @media (min-width: $small-media) {
      width: 48%;
      margin: 7px;
   }

   @media (min-width: $large-media) {
      width: 32%;
   }

   &:hover,
   &:active {
      .dish__btn {
         margin-right: -1.6px;
         margin-left: -10px;

         .fa-check-circle {
            height: auto;
            margin: auto 0;
            transform: rotate(1turn);
            transition: transform 500ms ease-in-out;
         }
      }
   }
}

.dish__btn {
   display: flex;
   align-items: center;
   width: 64px;
   margin-right: -61px;
   transition-duration: 450ms;
}

.select {
   display: flex;
   height: 100%;
   padding: 0 20px;
   font-size: 20px;
   border-radius: 0 15px 15px 0;
   color: #fff;
   background-color: #99e2d0;

   .fa-check-circle {
      margin: auto 0;
   }

   &:hover,
   &:active {
      height: 100%;
   }
}

/*-- Order btn --*/
.order {
   padding: 16px 0 58px;

   h4 {
      @include textBtnPink;
   }
}

.order__btn a {
   width: 185px;
   background: $pink-purple;
   box-shadow: $background-shadow;
   @include formBtnPink;

   &:hover,
   &:active {
      @include lightnessBtnPink;
   }
}
